# Python
*.pyc
# Media files
media/*
# Local development settings
volleyball_platform/settings_local.py
# Virtual envs
venv
.venv
# IDEA configurations
.run*
.idea/
# Local development directories
.env
*/.env
# Database
*.sqlite3
db.sqlite3
# Logs
logs/
errors.log
# Celeery
celerybeat-schedule
